.print {
    text-align: center;
    margin: 2% 5%;
}


.print .row{
    display: flex !important;
    flex-wrap: wrap;
    margin: 2% 0;
}
.print .column {
    max-width: 41.66667%;
    margin-left: 20%;
    text-align: left;
}
.print .table-bordered th, .table-bordered td {
    border: 1px solid #000 !important;
}
.print .signature {
    text-align: left;
    display: flex;
}
.print .signature>h3{
    font-weight: bold;
    margin-bottom: 0px;
}
.print .signature>input{
    border: 0;
    border-bottom: 1px solid #000;
}

