.background_custom_left_side_bar {
    background-image: url(../../../resources/images/user_bg3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.text-shadow {
    text-shadow: 5px 5px 10px black;
}